<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
</head>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "b6aee1c5-0476-458b-87c7-75619a2745b4", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "78e175c9-b6d5-4f33-ba1e-3b0b00b67dbc", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
<body>
     <center>
    <h1>HOSPITAL HOME PAGE</h1>
    <h1>Hospital Chatbot is embedded to provide answers to queries</h1>
    <h3>Click the icon in bottom right corner to open chatbot</h3>
    <h2>Type 'Hi' to begin the conversation</h2> 
  </center>

</body>
</html>