<html>
<head>
<title>register location</title>
</head>
<body>
<h1 align="center">Register</h1>
<form>
<table>
<tr><td>Name:</td>
<td><input type="text" name="n1"></td></br>
<tr><td>Username:</td>
<td><input type="text" name="n1"></td></br>
<tr><td>Password:</td>
<td><input type="password" name="n2"></td></tr>
<tr><td>Confirm password:</td>
<td><input type="password" name="n3"></td></tr>
<tr><td>Date of birth:</td>
<td><input type="date" name="n6"></td></tr>
<td>MailId:</td>
<td><input type="text" name="n10"></td></tr>
<tr>
<td align="center"></br><button type="button" class="registerbtn">Register</button></td>
<td align="center"></br><input type="reset" name="n11"></td>
</table>
</form>
</body>
</html>